<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>代码高亮hylite</title>
<style>
#try {
  clear: both;
  background-color: #f6f6f6;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 10px 15px 5px 10px;
}

#try textarea {
  border: 1px solid #999;
  padding: 2px;
  width: 80%;
  min-height: 150px;
}
</style>
</head>

<body>

<!--<form action="/submit" method="post" enctype="multipart/form-data">-->
<form action="/submit" method="post">
    <div id="try">
    <p>
	<label for="name">代码描述:</label>
	<input type="text" name="name" id="name" maxlength="200" size="30">
	<label for="lang">选择语言</label>
	<select id="lang" name="lang">
		<option value="html">html</option>
		<option value="shell">shell</option>
		<option value="matlab">matlab</option>
		<option value="cpp">C++</option>
		<option value="jvm">Java</option>
		<option value="javascript">JavaScript</option>
		<option value="php">PHP</option>
		<option value="python" selected="selected">Python</option>
		<option value="go">go</option>
		<option value="ruby">ruby</option>
		<option value="r">R</option>
		<option value="lisp">lisp</option>
	</select>
    </p>
    <p><!-- <label for="file">上传文件:</label> &nbsp;
	  <input type="file" name="file" id="file">-->直接粘贴代码:
    </p>
    <p><textarea name="code" rows="1" cols="60"></textarea></p>
    <p style="float: right"><input type="submit" value="高亮!">
	  &nbsp;&nbsp;&nbsp; <input type="reset" value="重置"></p>
</form>
</div>

</body>
</html>
