
.zenburn code, .zenburn pre{color:#fdce93;background-color:#3f3f3f}
.zenburn .hll{background-color:#222}
.zenburn .c{color:#7f9f7f}
.zenburn .err{color:#e37170;background-color:#3d3535}
.zenburn .g{color:#7f9f7f}
.zenburn .k{color:#f0dfaf}
.zenburn .l{color:#ccc}
.zenburn .n{color:#dcdccc}
.zenburn .o{color:#f0efd0}
.zenburn .x{color:#ccc}
.zenburn .p{color:#41706f}
.zenburn .cm{color:#7f9f7f}
.zenburn .cp{color:#7f9f7f}
.zenburn .c1{color:#7f9f7f}
.zenburn .cs{color:#cd0000;font-weight:bold}
.zenburn .gd{color:#cd0000}
.zenburn .ge{color:#ccc;font-style:italic}
.zenburn .gr{color:red}
.zenburn .gh{color:#dcdccc;font-weight:bold}
.zenburn .gi{color:#00cd00}
.zenburn .go{color:gray}
.zenburn .gp{color:#dcdccc;font-weight:bold}
.zenburn .gs{color:#ccc;font-weight:bold}
.zenburn .gu{color:purple;font-weight:bold}
.zenburn .gt{color:#0040D0}
.zenburn .kc{color:#dca3a3}
.zenburn .kd{color:#ffff86}
.zenburn .kn{color:#dfaf8f;font-weight:bold}
.zenburn .kp{color:#cdcf99}
.zenburn .kr{color:#cdcd00}
.zenburn .kt{color:#00cd00}
.zenburn .ld{color:#cc9393}
.zenburn .m{color:#8cd0d3}
.zenburn .s{color:#cc9393}
.zenburn .na{color:#9ac39f}
.zenburn .nb{color:#efef8f}
.zenburn .nc{color:#efef8f}
.zenburn .no{color:#ccc}
.zenburn .nd{color:#ccc}
.zenburn .ni{color:#c28182}
.zenburn .ne{color:#c3bf9f;font-weight:bold}
.zenburn .nf{color:#efef8f}
.zenburn .nl{color:#ccc}
.zenburn .nn{color:#8fbede}
.zenburn .nx{color:#ccc}
.zenburn .py{color:#ccc}
.zenburn .nt{color:#9ac39f}
.zenburn .nv{color:#dcdccc}
.zenburn .ow{color:#f0efd0}
.zenburn .w{color:#ccc}
.zenburn .mf{color:#8cd0d3}
.zenburn .mh{color:#8cd0d3}
.zenburn .mi{color:#8cd0d3}
.zenburn .mo{color:#8cd0d3}
.zenburn .sb{color:#cc9393}
.zenburn .sc{color:#cc9393}
.zenburn .sd{color:#cc9393}
.zenburn .s2{color:#cc9393}
.zenburn .se{color:#cc9393}
.zenburn .sh{color:#cc9393}
.zenburn .si{color:#cc9393}
.zenburn .sx{color:#cc9393}
.zenburn .sr{color:#cc9393}
.zenburn .s1{color:#cc9393}
.zenburn .ss{color:#cc9393}
.zenburn .bp{color:#efef8f}
.zenburn .vc{color:#efef8f}
.zenburn .vg{color:#dcdccc}
.zenburn .vi{color:#ffffc7}
.zenburn .il{color:#8cd0d3}
